[Unit]
Description=ACCESS CONECT Information Sharing Platform CiDeR Router
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
EnvironmentFile=%APP_HOME%/sbin/router_cider.sysconfig
ExecStart=%APP_HOME%/sbin/router_cider.service.sh start
User=software
Group=admin
Restart=always

[Install]
WantedBy=multi-user.target
