[Unit]
Description=Information Services RDR Router 
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
EnvironmentFile=/soft/warehouse-apps-1.0/Manage-RDR/PROD/sbin/route_rdr.sysconfig
ExecStart=/soft/warehouse-apps-1.0/Manage-RDR/PROD/sbin/route_rdr.service.sh start
User=software
Group=admin
Restart=always

[Install]
WantedBy=multi-user.target
